doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        if users.length > 0
            h1 USER LIST 
                span 
                    a(href="/") Add New User
            table
                tr 
                    th Name
                    th UserName
                    th Age
                    th Email
                    th uuid
                    th Actions
                each user in users
                    tr 
                        td #{user.name}
                        td #{user.username}
                        td #{user.age}
                        td #{user.email}
                        td #{user.uuid}
                        td
                            include buttons.pug
        else
            h1 USER LIST
            p There are currently no users.
            p Please 
                a(href='/') create a new user